<header class="site-header">
  <!-- <img src="/assets/header.webp" alt="Airi" class="site-logo"> -->
  <!-- <iframe width="500" height="150" src="https://www.youtube.com/embed/_Q0sFQKlpnE?si=-8YbBeTWyg1iPZq5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/highlight/">Highlight</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/">Posts</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">About</a></li>
	    <li class="nav-item"><a href="{{ site.baseurl }}/webgpu/">WebGPU Lab</a></li>
	    <li class="nav-item"><a href="{{ site.baseurl }}/resume/">Resume</a></li>
    </ul>
  </nav>

</header>
