<h3>Archive</h3>
{% assign counter = 0 %}
<div class="row">
{% for post in paginator.posts %}
    <div class="column column-33">
        <div class="preview-panel">
            <div class="preview-panel-img-container">
                <a class="preview-panel-img" href="{{ post.url | prepend: site.baseurl }}">
                    <img src="{{ post.preview }}">
                </a>
            </div>
            <div class="post-title">{{ post.title }}</div>
            <div class="post-summary">{{ post.summary }}</div>
        </div>
    </div>
    {% assign counter = counter | plus: 1 %}
    {% if counter == 3 %}
        </div><div class="row">
        {% assign counter = 0 %}
    {% endif %}
{% endfor %}
</div> <!-- close the last row -->

<div class="center">
    <div class="pagination">
        {% if paginator.previous_page %}
            <a class="nav-item" href="{{ paginator.previous_page_path | prepend: site.baseurl/ }}">&laquo; Prev</a>
        {% endif %}
    
        <!-- {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                <a class="page-num" href="#">{{ page }}</a>
            {% elsif page == 1 %}
                <a class="page-num" href="{{ '/' | prepend: site.baseurl }}">{{ page }}</a>
            {% else %}
                <a class="page-num" href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
        {% endfor %} -->
    
        {% if paginator.next_page %}
            <a class="nav-item" href="{{ paginator.next_page_path | prepend: site.baseurl/ }}">Next &raquo;</a>
        {% endif %}
    </div>
</div>

<!-- <div class="subproject-section">
    <h3 class="info-heading"> Smaller Projects </h3>
    <ul style="list-style-type: none;">
        <li>        
            🤖 A <a href="https://discord.com/api/oauth2/authorize?client_id=1185029907277942834&permissions=18432&scope=bot">Discord bot</a> that web-scrapes and collects weekly graphics news (Python, Discord.py).
        </li>
        <li>
            🕸️ A dynamic professional <a href="https://daynghesangtao.vercel.app/">website</a> for my dad (Svelte kit, Sanity.io, Tailwind CSS).
        </li>
        <li>
            👾 <a href="https://airi-pham.itch.io/dizzy-dots">Dizzy Dots</a>: An arcade game prototype (Unity).
        </li>
    </ul>
</div> -->
